 .wrapper {
  display: grid;
  grid-template-columns: 1fr;
   grid-auto-rows:max-content;
   grid-auto-columns: auto;
   font-size: 2em;
   background-color: #f9f9f9;
  
  
   
}
.wrapper > div {
   #border-bottom: 1px solid;
  
  padding-bottom: 1em;

  font-family: Georgia, Times, "Times New Roman", serif;
  text-align: center;
  
  
}
h1 {
  font-family: Georgia, Times, "Times New Roman", serif;
  font-size: 2em;
  text-align: center;
  background-color: white;
  position: fixed;
  top: 0;
  width: 100%;
  padding: 10px;
  margin-top: -0.15em;
  margin-left: -0.25em;

}



.printerPic {
  background-image: url('IMG_8486_optimized.jpg');
    background-repeat: no-repeat;
  background-position: center;
  height: 640px;
  border-top: 1px solid;
    
   }

.printerPic:hover,
.margaritaPic:hover {
  
  #background-size: cover;
}


.margaritaPic {
  background-image: url('MargaritaGif.gif');

    background-repeat: no-repeat;
  background-position: center;
  height: 640px;
  border-top: 1px solid;
}

.keurigPic {
  background-image: url('IMG_8517_optimized.jpg');
    background-repeat: no-repeat;
  background-position: center;
  height: 640px;
  border-top: 1px solid;
}


.nespressoPic {
  background-image: url('IMG_8518_optimized.jpg');
    background-repeat: no-repeat;
  background-position: center;
  height: 640px;
  border-top: 1px solid;
}


.toasterPic {
  background-image: url('IMG_8495_optimized.jpg');
    background-repeat: no-repeat;
  background-position: center;
  height: 640px;
  border-top: 1px solid;
}

.foodProcessorPic {
  background-image: url('81bQvF2J2yL._SL1500_.jpg');
    background-repeat: no-repeat;
  background-position: center;
  height: 640px;
  border-top: 1px solid;
}

.samsungPic {
  background-image: url('71DZgSRihaL._SL1500_.jpg');
    background-repeat: no-repeat;
  background-position: center;
  height: 640px;
  border-top: 1px solid;
}

.wafflePic {
  background-image: url('81IrZsP1aqS._SL1500_.jpg');
    background-repeat: no-repeat;
  background-position: center;
  height: 640px;
  border-top: 1px solid;
}

.shredderPic {
  background-image: url('IMG_8504_optimized.jpg');
    background-repeat: no-repeat;
  background-position: center;
  height: 640px;
  border-top: 1px solid;
}

.winePic {
  background-image: url('IMG_8499_optimized.jpg');
    background-repeat: no-repeat;
  background-position: center;
  height: 640px;
  border-top: 1px solid;
}

.steamerPic {
  background-image: url('IMG_8513_optimized.jpg');
    background-repeat: no-repeat;
  background-position: center;
  height: 640px;
  border-top: 1px solid;
}

.garminPic {
  background-image: url('81V6ZYbpkiL._SL1500_.jpg');
    background-repeat: no-repeat;
  background-position: center;
  height: 640px;
  border-top: 1px solid;
}

.footSpaPic {
  background-image: url('IMG_8521_optimized.jpg');
    background-repeat: no-repeat;
  background-position: center;
  height: 640px;
  border-top: 1px solid;
}

.roombaPic {
  background-image: url('IMG_0911_optimized.jpg');
    background-repeat: no-repeat;
  background-position: center;
  height: 640px;
  border-top: 1px solid;
}


.triaPic {
  background-image: url('tria_optimized.jpg');
    background-repeat: no-repeat;
  background-position: center;
  height: 640px;
  border-top: 1px solid;
}

.curlingIronPic {
  background-image: url('curlingIron_optimized.jpg');
    background-repeat: no-repeat;
  background-position: center;
  height: 640px;
  border-top: 1px solid;
}

.modemPic {
  background-image: url('modem500.jpg');
    background-repeat: no-repeat;
  background-position: center;
  height: 640px;
  border-top: 1px solid;
}

.altimaPic {
  background-image: url('altima.jpg');
    background-repeat: no-repeat;
  background-position: center;
  height: 640px;
  border-top: 1px solid;
}

a {
 text-align: center;
 padding-bottom: 1em;
}

