 .wrapper {
  display: grid;
  grid-template-columns: 1fr;
   grid-auto-rows:max-content;
   grid-auto-columns: auto;
   font-size: 2em;
   background-color: #f9f9f9;
  
  
   
}
.wrapper > div {
   #border-bottom: 1px solid;
  
  padding-bottom: 1em;

  font-family: Georgia, Times, "Times New Roman", serif;
  text-align: center;
  
  
}
h1 {
  font-family: Georgia, Times, "Times New Roman", serif;
  font-size: 2em;
  text-align: center;
  background-color: white;
  position: fixed;
  top: 0;
  width: 100%;
  padding: 10px;
  margin-top: -0.15em;
  margin-left: -0.25em;

}



.houstonPic {
  background-image: url('houston.jpg');
    background-repeat: no-repeat;
  background-position: center;
  height: 640px;
  border-top: 1px solid;
    
   }

.printerPic:hover,
.margaritaPic:hover {
  
  #background-size: cover;
}


.munichPic {
  background-image: url('munich.jpg');

    background-repeat: no-repeat;
  background-position: center;
  height: 640px;
  border-top: 1px solid;
}

.moscowPic {
  background-image: url('moscow.jpg');
    background-repeat: no-repeat;
  background-position: center;
  height: 640px;
  border-top: 1px solid;
}


.sheremPic {
  background-image: url('sherem.jpg');
    background-repeat: no-repeat;
  background-position: center;
  height: 640px;
  border-top: 1px solid;
}


.hotelviewPic {
  background-image: url('hotelview.jpg');
    background-repeat: no-repeat;
  background-position: center;
  height: 640px;
  border-top: 1px solid;
}

.seaPic {
  background-image: url('sea.jpg');
    background-repeat: no-repeat;
  background-position: center;
  height: 640px;
  border-top: 1px solid;
}

.sunnyPic {
  background-image: url('sunny.jpg');
    background-repeat: no-repeat;
  background-position: center;
  height: 640px;
  border-top: 1px solid;
}

.cityviewPic {
  background-image: url('cityview.jpg');
    background-repeat: no-repeat;
  background-position: center;
  height: 640px;
  border-top: 1px solid;
}

.cafePic {
  background-image: url('cafe.jpg');
    background-repeat: no-repeat;
  background-position: center;
  height: 640px;
  border-top: 1px solid;
}

.aktauPic {
  background-image: url('aktau.jpg');
    background-repeat: no-repeat;
  background-position: center;
  height: 640px;
  border-top: 1px solid;
}



.leftKPic {
  background-image: url('leftK.jpg');
    background-repeat: no-repeat;
  background-position: center;
  height: 350px;
  border-top: 1px solid;
}

.timelapsePic {
  background-image: url('timelapse.gif');
    background-repeat: no-repeat;
  background-position: center;
  height: 350px;
  border-top: 1px solid;
}



a {
 text-align: center;
 padding-bottom: 1em;
}

